.bnner{
    position: relative;
    height: 300px;
}
.aside2{
    position: relative;
    top: 150px;
}
.aside{
    background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636);
}