.bnner {
    width: 100%;
}
.aside {
    color: #fff;
    height: 40px;
    background-image: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636);
    background-repeat: repeat-x;
}
.aside2 {
    position: relative;
}
.item {
    color: #c69c6b;
}
.item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all linear 0.3s;
}
.img_url {
    height: ;
    background: url(https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327);
}
