.bnner {
    width: 100%;
}
.aside{
    text-transform: uppercase;
    height: 50px;
    background-image: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636); 
    background-repeat: repeat-x;
}
.aside2 {
    position: relative;
}
