.banner_product {
    position: relative;
    text-align: center;
}
.titlesp {
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.img_item {
    height: 150px;
}
.img_item {
    img {
        width: 100%;
        height: 100%;
        background-size: cover; /* Để hình ảnh tự điều chỉnh để vừa với div */
        background-position: center; /* Để hình ảnh nằm giữa div */
    }
}
