:root {
    --color: #f2b94c;
}
.header{
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    background-color: ;
}
.header_hover{
     text-transform: uppercase;;
}
.header_hover:hover {
    cursor: pointer;
    color: var(--color);
    transition: all linear 0.2s;
}
